<!DOCTYPE html>
<html lang="en">

<head>
    <title>Simplifying Networking</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles.css" />
</head>

<body>
    <div id="content">
        <header>
            <!--<div class="logo-box">
                <a href="index.html">
                    <img src="" alt="" />
                </a>
            </div>-->
            <nav class="menu-bar">
                <ul id="menu">
                    <li><a href="index.html" id="current-page">Home</a></li>
                    <li><a href="automation.html">Network Automation</a></li>
                    <li><a href="management.html">Simplify Management</a></li>
                    <li><a href="aboutme.html">About Me</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="banner-box">
                <img class="banner" src="https://cdn.glitch.com/02ab63b3-d5b1-4aa7-b99f-20ab552caeeb%2Fcomputer-technology-and-data-center-web-banner_size-800x200.jpg?v=1593320136980" alt="" />
            </div>


            <div class="home-grid">
                <div class="home-left-img">
                    <img src="https://cdn.glitch.com/02ab63b3-d5b1-4aa7-b99f-20ab552caeeb%2Frsz_fiber_optics-820x516.jpg?v=1593318329616" alt="Fiber Optics around the World" />
                </div>
                <h2 class="home-headline-1">Simplifying Networking</h2>
                <p class="home-paragraph-1">
                    Network automation is the process of automating the configuring, managing, testing, deploying, and operating of physical and virtual devices within a network. With everyday network tasks and functions automated and repetitive processes controlled and
                    managed automatically, network service availability improves. Any type of network can use network automation. Hardware- and software-based solutions enable data centers, service providers, and enterprises to implement network automation
                    to improve efficiency, reduce human error, and lower operating expenses.
                </p>

                <div class="home1-left-img">
                    <img src="https://cdn.glitch.com/02ab63b3-d5b1-4aa7-b99f-20ab552caeeb%2Frsz_automation-5238165_1280.jpg?v=1593897869730" alt="Fiber Optics around the World" />
                </div>

                <div class="home1-center-img">
                    <img src="https://cdn.glitch.com/02ab63b3-d5b1-4aa7-b99f-20ab552caeeb%2Frsz_02ab63b3-d5b1-4aa7-b99f-20ab552caeeb_industrial_network.png?v=1593897864009" alt="Fiber Optics around the World" />
                </div>

                <div class="home1-right-img">
                    <img src="https://cdn.glitch.com/02ab63b3-d5b1-4aa7-b99f-20ab552caeeb%2Frsz_1rsz_cloud-computing-2001090_1280.jpg?v=1593321421921" alt="Fiber Optics around the World" />
                </div>

                <p class="home-paragraph-2">
                    The objective of networking automation is to generate autonomous processes, allowing your network to execute on essential activities without human intervention.
                </p>

            </div>
        </main>
        <footer>
            <p>
                &copy; 2020 Personal Page - Alejandro Flores Medina - 21
            </p>
            <div class="external">
                <a href="https://www.cisco.com" target="_blank">
                    <img src="https://cdn.glitch.com/02ab63b3-d5b1-4aa7-b99f-20ab552caeeb%2Frsz_cisco-logo-a.png?v=1593319015416" alt="Cisco logo" />
                </a>
                <a href="https://www.python.org/" target="_blank">
                    <img src="https://cdn.glitch.com/02ab63b3-d5b1-4aa7-b99f-20ab552caeeb%2Frsz_1python-logo.png?v=1593319660011" alt="Python logo" />
                </a>
                <a href="https://www.gns3.com/" target="_blank">
                    <img src="https://cdn.glitch.com/02ab63b3-d5b1-4aa7-b99f-20ab552caeeb%2Frsz_gns3_logo_white.jpg?v=1593923193560" alt="Python logo" />
                </a>
            </div>
        </footer>
    </div>
</body>

</html>